<!--============================================-->
<!-- Name: footer.ejs                           -->
<!-- Description: Application footer file       -->
<!-- Author: JeyzerMC                           -->
<!-- Date:   July 31th, 2017                    -->
<!--============================================-->

<!--=========================-->
<!--    Personal Footer      -->
<!--=========================-->


</div>


<!--=========================-->
<!--         Scripts         -->
<!--=========================-->

<!-- JQuery Local -->
<!--<script src="jQuery/jquery-3.2.1.min.js"
 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 crossorigin="anonymous"></script>-->

<!-- node_module Semantic UI -->
<!--<script src="dist/semantic.js"></script>-->


<!--=========================-->
<!--   Generic HTML Footer   -->
<!--=========================-->
</body>

</html>