<!--============================================-->
<!-- Name: header.ejs                           -->
<!-- Description: Application header file       -->
<!-- Author: JeyzerMC                           -->
<!-- Date:   July 31th, 2017                    -->
<!--============================================-->

<!--=========================-->
<!--   Generic HTML Header   -->
<!--=========================-->

<!DOCTYPE html>
<html lang="en">

<!--=========================-->
<!--   Metadata and Links    -->
<!--=========================-->

<head>
    <title>JeyBooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>


<!--=========================-->
<!--      Body Element       -->
<!--=========================-->

<body>

    <!--=========================-->
    <!--        Top Menu         -->
    <!--=========================-->

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"> <i class="large book icon"></i>JeyBooks</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/books">Collection</a>
        </div>
    </div>

    <div class="mcontainer">