<!--============================================-->
<!-- Name: home.ejs                             -->
<!-- Description: Home page view                -->
<!-- Author: JeyzerMC                           -->
<!-- Date:   July 31th, 2017                    -->
<!--============================================-->

<% include partials/header %>

<h1>THIS IS THE HOME PAGE</h1>

<button class="ui secondary button">Okay</button>



<% include partials/footer %>